{% extends "layout.html" %}
{% block content %}
    <h1><a href="/recordings">Recordings</a></h1>
    <p class="section-subtitle">
        Play the most recent recordings here. Click on "Recordings" if you want to view more!
    </p>

    <div class="recordings-list">
        {% for recording in recent_files %}
        <div class="recording-item">
            <!-- preload makes it so that the audio endpoints aren't hit until the user clicks play-->
            <audio controls preload="none" src="/api/audio/{{ recording.id }}"></audio>
            <span>{{ recording.name }}</span>
        </div>
        {% endfor %}
    </div>

    <h1>Analytics</h1>
    <p>Uses AI to parse information from metadata</p>
{% endblock content %}