<!DOCTYPE html> 
<html>
    <head>
        <title>
            {% if title %}
                Sound Recording App - {{ title }}
            {% else %}
                Sound Recording App
            {% endif %}
        </title>
        <link rel="stylesheet" href="/static/main.css">
    </head>
    <body>
        <nav>
            <a class="brand" href="/">Sound Recording App</a>
            <ul>
                <li><a href="/" class="{{'active' if request.url.path == '/'}}">Home</a></li> 
                <li><a href="/recordings" class="{{'active' if request.url.path == '/recordings'}}">Recordings</a></li>
                <li><a href="/analytics" class="{{'active' if request.url.path == '/analytics'}}">Analytics</a></li>
            </ul>
        </nav>
        <main>
            {% block content %}
            {% endblock content %}
        </main>
    </body>
</html>